@font-face {
  font-family: "Segoe UI";
  src: url("./assets//fonts/Segoe_fonts/segoeui.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* General global transitions for all elements */
* {
  margin: 0;
  padding: 0;
  transition-property: background-color, border-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 400ms;
  will-change: background-color, color, border-color, fill, stroke; /* Hint browser */
}
